*.sql linguist-language=sql

*.sql linguist-detectable=true

*.my linguist-language=sql


# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes linguist-language=gitattributes
