*.sql linguist-language=sql

*.sql linguist-detectable=true

*.my linguist-language=sql

*.sql text working-tree-encoding=UTF-16LE eol=CRLF




# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes linguist-language=gitattributes
