USE [master]
GO
/****** Object:  Database [PinkPlannr]    Script Date: 3/24/2022 7:04:01 PM ******/
CREATE DATABASE [PinkPlannr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PinkPlannr', FILENAME = N'D:\MSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\PinkPlannr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PinkPlannr_log', FILENAME = N'D:\MSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\PinkPlannr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PinkPlannr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PinkPlannr]
GO
/****** Object:  Table [dbo].[dietPlans]    Script Date: 3/24/2022 7:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dietPlans](
	[dietBreakfast] [varchar](max) NOT NULL,
	[dietLunch] [varchar](max) NOT NULL,
	[dietDinner] [varchar](max) NOT NULL,
	[dietAdditional] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercisePlans]    Script Date: 3/24/2022 7:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercisePlans](
	[exercisePlans] [varchar](50) NULL,
	[exercisesNames] [varchar](50) NULL,
	[exercisesTime] [time](7) NOT NULL,
	[exercisesReps] [int] NOT NULL,
	[exerciseImpact] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hygienePlans]    Script Date: 3/24/2022 7:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hygienePlans](
	[hygieneRoutine] [time](7) NOT NULL,
	[hygieneProducts] [varchar](max) NOT NULL,
 CONSTRAINT [PK_hygienePlans] PRIMARY KEY CLUSTERED 
(
	[hygieneRoutine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hygieneRoutine]    Script Date: 3/24/2022 7:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hygieneRoutine](
	[hygieneRoutine] [time](7) NULL,
	[hygieneMorning] [time](7) NULL,
	[hygieneAfternoon] [time](7) NULL,
	[hygieneEvening] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_Additional]    Script Date: 3/24/2022 7:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_Additional](
	[userName] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[height] [int] NOT NULL,
	[weight] [int] NOT NULL,
	[activityLevel] [varchar](50) NOT NULL,
	[medicalIssues] [varchar](max) NULL,
 CONSTRAINT [PK_user_Additional] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_Basic]    Script Date: 3/24/2022 7:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_Basic](
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user_Basic] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_Plans]    Script Date: 3/24/2022 7:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_Plans](
	[userName] [varchar](50) NOT NULL,
	[exercisePlans] [varchar](max) NULL,
	[dietPlans] [varchar](max) NULL,
	[hygienePlans] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_Plans]    Script Date: 3/24/2022 7:04:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_Plans] ON [dbo].[user_Plans]
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hygieneRoutine]  WITH CHECK ADD  CONSTRAINT [FK_hygieneRoutine_hygienePlans] FOREIGN KEY([hygieneRoutine])
REFERENCES [dbo].[hygienePlans] ([hygieneRoutine])
GO
ALTER TABLE [dbo].[hygieneRoutine] CHECK CONSTRAINT [FK_hygieneRoutine_hygienePlans]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [FK_user_Additional_user_Basic] FOREIGN KEY([userName])
REFERENCES [dbo].[user_Basic] ([userName])
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [FK_user_Additional_user_Basic]
GO
ALTER TABLE [dbo].[user_Plans]  WITH CHECK ADD  CONSTRAINT [FK_user_Plans_user_Additional] FOREIGN KEY([userName])
REFERENCES [dbo].[user_Additional] ([userName])
GO
ALTER TABLE [dbo].[user_Plans] CHECK CONSTRAINT [FK_user_Plans_user_Additional]
GO
ALTER TABLE [dbo].[dietPlans]  WITH CHECK ADD  CONSTRAINT [CK_dietPlans] CHECK  (([dietBreakfast] like '[^a-z A-Z]'))
GO
ALTER TABLE [dbo].[dietPlans] CHECK CONSTRAINT [CK_dietPlans]
GO
ALTER TABLE [dbo].[dietPlans]  WITH CHECK ADD  CONSTRAINT [CK_dietPlans_1] CHECK  (([dietLunch] like '[^a-z A-Z]'))
GO
ALTER TABLE [dbo].[dietPlans] CHECK CONSTRAINT [CK_dietPlans_1]
GO
ALTER TABLE [dbo].[dietPlans]  WITH CHECK ADD  CONSTRAINT [CK_dietPlans_2] CHECK  (([dietDinner] like '[^a-z A-Z]'))
GO
ALTER TABLE [dbo].[dietPlans] CHECK CONSTRAINT [CK_dietPlans_2]
GO
ALTER TABLE [dbo].[dietPlans]  WITH CHECK ADD  CONSTRAINT [CK_dietPlans_3] CHECK  (([dietAdditional] like '[^a-z A-Z]'))
GO
ALTER TABLE [dbo].[dietPlans] CHECK CONSTRAINT [CK_dietPlans_3]
GO
ALTER TABLE [dbo].[exercisePlans]  WITH CHECK ADD  CONSTRAINT [CK_exercisePlans] CHECK  (([exercisesNames] like 'a-z A-Z'))
GO
ALTER TABLE [dbo].[exercisePlans] CHECK CONSTRAINT [CK_exercisePlans]
GO
ALTER TABLE [dbo].[exercisePlans]  WITH CHECK ADD  CONSTRAINT [CK_exercisePlans_1] CHECK  (([exercisesTime] like '[^0-9]'))
GO
ALTER TABLE [dbo].[exercisePlans] CHECK CONSTRAINT [CK_exercisePlans_1]
GO
ALTER TABLE [dbo].[exercisePlans]  WITH CHECK ADD  CONSTRAINT [CK_exercisePlans_2] CHECK  (([exercisesReps] like '[^0-9]'))
GO
ALTER TABLE [dbo].[exercisePlans] CHECK CONSTRAINT [CK_exercisePlans_2]
GO
ALTER TABLE [dbo].[exercisePlans]  WITH CHECK ADD  CONSTRAINT [CK_exercisePlans_3] CHECK  (([exerciseImpact] like 'Low Impact' OR [exerciseImpact] like 'High Impact'))
GO
ALTER TABLE [dbo].[exercisePlans] CHECK CONSTRAINT [CK_exercisePlans_3]
GO
ALTER TABLE [dbo].[hygienePlans]  WITH CHECK ADD  CONSTRAINT [CK_hygienePlans] CHECK  (([hygieneProducts] like 'a-z A-Z 0-9'))
GO
ALTER TABLE [dbo].[hygienePlans] CHECK CONSTRAINT [CK_hygienePlans]
GO
ALTER TABLE [dbo].[hygieneRoutine]  WITH CHECK ADD  CONSTRAINT [CK_hygieneRoutine] CHECK  (([hygieneMorning] like '[^0-9][^0-9]:[^0-9][^0-9]'))
GO
ALTER TABLE [dbo].[hygieneRoutine] CHECK CONSTRAINT [CK_hygieneRoutine]
GO
ALTER TABLE [dbo].[hygieneRoutine]  WITH CHECK ADD  CONSTRAINT [CK_hygieneRoutine_1] CHECK  (([hygieneAfternoon] like '[^0-9][^0-9]:[^0-9][^0-9]'))
GO
ALTER TABLE [dbo].[hygieneRoutine] CHECK CONSTRAINT [CK_hygieneRoutine_1]
GO
ALTER TABLE [dbo].[hygieneRoutine]  WITH CHECK ADD  CONSTRAINT [CK_hygieneRoutine_2] CHECK  (([hygieneEvening] like '[^0-9][^0-9]:[^0-9][^0-9]'))
GO
ALTER TABLE [dbo].[hygieneRoutine] CHECK CONSTRAINT [CK_hygieneRoutine_2]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [CK_user_Additional] CHECK  (([age] like '%[^14-80]%'))
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [CK_user_Additional]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [CK_user_Additional_1] CHECK  (([gender] like 'Male' OR [gender] like 'Female' OR [gender] like 'Other'))
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [CK_user_Additional_1]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [CK_user_Additional_2] CHECK  (([height] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [CK_user_Additional_2]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [CK_user_Additional_3] CHECK  (([weight] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [CK_user_Additional_3]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [CK_user_Additional_4] CHECK  (([activityLevel] like 'Sedentary' OR [activityLevel] like 'Likely active' OR [activityLevel] like 'Moderately active' OR [activityLevel] like 'Very active'))
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [CK_user_Additional_4]
GO
ALTER TABLE [dbo].[user_Additional]  WITH CHECK ADD  CONSTRAINT [CK_user_Additional_5] CHECK  (([medicalIssues] like '%[^a-zA-Z]%'))
GO
ALTER TABLE [dbo].[user_Additional] CHECK CONSTRAINT [CK_user_Additional_5]
GO
ALTER TABLE [dbo].[user_Basic]  WITH CHECK ADD  CONSTRAINT [CK_user_Basic] CHECK  ((NOT [firstName] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[user_Basic] CHECK CONSTRAINT [CK_user_Basic]
GO
ALTER TABLE [dbo].[user_Basic]  WITH CHECK ADD  CONSTRAINT [CK_user_Basic_1] CHECK  ((NOT [lastName] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[user_Basic] CHECK CONSTRAINT [CK_user_Basic_1]
GO
ALTER TABLE [dbo].[user_Basic]  WITH CHECK ADD  CONSTRAINT [CK_user_Basic_2] CHECK  (([userName] like '%[^a-zA-Z0-9]%'))
GO
ALTER TABLE [dbo].[user_Basic] CHECK CONSTRAINT [CK_user_Basic_2]
GO
ALTER TABLE [dbo].[user_Basic]  WITH CHECK ADD  CONSTRAINT [CK_user_Basic_3] CHECK  (([email] like '%@%'))
GO
ALTER TABLE [dbo].[user_Basic] CHECK CONSTRAINT [CK_user_Basic_3]
GO
USE [master]
GO
